@use "../variables/colors";
@use "../variables/spaces";

.header {
  background-color: colors.$color-primary!important;
  color: colors.$color-background;
  height: spaces.$height-header;
}

.nav {
  height: spaces.$height-header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .logo {
    margin: 0.5rem 0 0 0.5rem;
    color: colors.$color-background;
    text-decoration: none;

    .logo__icon {
      font-size: 2.3rem;
    }

    .logo__name {
      font-size: 3rem;
    }
  }

  .navbar__links {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    .navbar__element {
      list-style-type: none;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 3px solid transparent;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      position: relative;
      padding: 1rem;
      color: colors.$color-background;

      &:hover {
        border-bottom: 3px solid rgba(colors.$color-background, 0.5);
      }
    }

  }
}