@use "../variables/spaces";


.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - spaces.$height-header);

  .app__title {
    height: 10vh;
  }

  .greeting {
    padding-top: 2rem;
    text-align: center;
  }
}

